*{
    margin: 0;
}

main{
    margin: 10px;
}

/* header */

#header-container{
    height: 175px;
    background-color: #23acda;
    background-image: url("../img/pattern.png");
}

#header-img{
    height: 50%;
    margin-top: 80px;
    margin-left: 10px;
}

#title{
    color: gray;
}

h1{
    font-size: 3em;
    color: black;
}

#color-title{
    color: rgb(71, 195, 236);
}

.yellow-par{
    background-color: yellow;
}

.separate{
    margin-top: 30px;
    margin-bottom: 30px;
}

ul{
    padding-left: 0;
    margin-left: 10px;
}

table{
    border-collapse: collapse;
    text-align: left;
}

thead{
    color: white;
    background-color: blue;
}

.bg-lightblue{
    background-color: lightskyblue;
}

.short{
    width: 25%;
}

.long{
    width: 50%;
}